.footer
  %ul.bottom-menu
    %li.menu-item= link_to( "News", "http://blog.hitcon.org/" )
    %li.menu-item= link_to( "Agenda", "/2014/agenda/" )
    %li.menu-item= link_to( "CTF", "/2014/CTF/" )
    %li.menu-item= link_to( "Location", "/2014/location/" )
    %li.menu-item= link_to( "Registration", "/2014/registration/" )
    %li.menu-item= link_to( "Sponsor", "/2014/sponsor/" )
    %li.menu-item= link_to( "History", "http://hitcon.org/archive.htm" )
    %li.menu-item= link_to( "Album", "http://photo.hitcon.org" )
    %li.menu-item= link_to( "Facebook", "http://fb.com/hitcon" )

  .slogan
  %ul.credit
    %li= link_to "CHROOT Security Group", "http://www.chroot.org/"
    %li= link_to "Designed by evendesign", "http://evendesign.tw"

